* {
  background-color: #17181b;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(241, 196, 206);
  color: #17181b;
}

nav h2 {
  background-color: rgb(241, 196, 206);
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: rgb(241, 196, 206);
}

.nav-link li {
  background-color: rgb(241, 196, 206);
}

.home h1 {
  text-align: center;
  color: white;
}

.about {
  text-align: center;
  color: white;
}
.title {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 40px;
  font-size: 40px;
}

.members {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.card {
  border: 0.5px solid rgb(221, 221, 221);
  width: 300px;
  height: 350px;
  margin-right: 20px;
  color: #fff;
  border-radius: 20px;
}

.card_new {
  border: 0.5px solid rgb(221, 221, 221);
  width: 300px;
  height: 350px;
  margin-right: 20px;
  background-color: rgb(216, 74, 97);
  color: #fff;
  border-radius: 20px;
}

.card_new h3 {
  text-align: center;
  background-color: rgb(216, 74, 97);
}
.card_new h4 {
  text-align: center;
  background-color: rgb(216, 74, 97);
}
.card h3 {
  text-align: center;
}
.card h4 {
  text-align: center;
}

.photo {
  width: 200px;
  height: 175px;
  display: flex;
  margin: 0 auto;
}

.photo-info {
  width: 400px;
  height: 300px;
  display: flex;
  margin: 0 auto;
}

.info {
  text-align: center;
  color: white;
}

input {
  color: white;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

.fan {
  text-align: center;
  color: white;
}

.fan button {
  color: white;
  background-color: rgb(216, 74, 97);
  border-radius: 20px;

  width: 120px;
  height: 30px;
}

.fan-card {
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 20px;
  width: 200px;
  height: 250px;
}

.fc-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cont {
  text-align: center;
  color: white;
}
.contributor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.cont-card {
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 20px;
  width: 200px;
  height: 250px;
}

.cont-detail {
  text-align: center;
  color: white;
}
.cont-detail button {
  color: white;
}

.single-cont {
  text-align: center;
  color: white;
}

.counter {
  text-align: center;
  color: white;
}

.counter button {
  color: white;
  background-color: rgb(216, 74, 97);
  width: 120px;
  height: 30px;
}

/* For tablets */
@media all and (max-width: 1000px) {
  .card {
    margin-bottom: 20px;
  }
  .card_new {
    margin-bottom: 20px;
  }
  .title {
    font-size: 30px;
  }
  .members {
    flex-wrap: wrap;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .title {
    font-size: 20px;
  }
}
